@import "variable";
@import "breakPoints";
.mainContainerOne {
    background-image: url(/ContainerOnePics/cat-banner-mens-clothing.jpg);
    @include height-width(25vw, $contWidth);
    background-size: cover;
    background-position: 50%;
    position: relative;
    h1{
        @include bp(1201px){
            @include margin-padding( -1.0625em 0, 0.3125em 0.625em 0.3125em 40px);  
        }
        @include xl{
            @include margin-padding( -1.0625em 0, 0.3125em 0.625em 0.3125em 40px);
        }
        @include md{
            @include margin-padding( -1.0625em 0, 0.3125em 0.625em 0.3125em  30px);
            font-size: 1.5rem;
        }
        @include sm{
            @include margin-padding( -1.0625em 0, 0.3125em 0.625em 0.3125em  30px);
            font-size: 1rem;
        }
        @include color-bgColor(#fff, #00a1e0);
        @include margin-padding(0.9375em 0, 0.3125em 0.625em 0.3125em 125px);
        position: relative;
        display: inline-block;
        font-size: 2.5rem;
        top: 50%;
        margin: -1em 0 0;
        font-weight: 500;
    }
}
hr{
    @include height-width(auto,93%); 
    @include md{
    @include height-width(auto,100%); 

    }
}


